{% extends 'search.html' %}
{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
	<title>register</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{% static 'register/css/roboto-font.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'register/fonts/line-awesome/css/line-awesome.min.css' %}">
	<!-- Jquery -->
	<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{% static 'register/css/style.css' %}"/>

</head>

<body>

    <body class="form-v2">
	<div class="page-content">
		<div class="form-v2-content">
			<div class="form-left">
				<img src="{% static 'register/images/doctor2.jpg' %}" alt="form">
					</div>
			<form class="form-detail" action="register" method="post" id="myform">
				{% csrf_token %}
				<h2>Registration Form</h2>
				<div class="form-row">
					<label for="full-name">User Name: <span style="color: red; font-weight: bold;">*</span></label>
					{{form.username}}
					<style>
  .from_row:after {
    content:" *";
    color: red;
  }
</style>

				</div>
				<div class="form-row">
					<label for="full-name">First Name: <span style="color: red; font-weight: bold;">*</span> </label>
					<input type="text" name="first_name" id="first_name" class="input-text">
					{{form.firstname}}
				</div>
				<div class="form-row">
					<label for="full-name">Last Name: <span style="color: red; font-weight: bold;">*</span></label>
					<input type="text" name="last_name" id="last_name" class="input-text">
					{{form.lastname}}
				</div>
				<div class="form-row">
					<label for="your_email">Your Email:<span style="color: red; font-weight: bold;">*</span></label>
					{{form.email}}
				</div>
				<div class="form-row">
					<label for="password">Password: <span style="color: red; font-weight: bold;">*</span></label>
					{{form.password1}}

				</div>
				<div class="form-row">
					<label for="comfirm-password">Confirm Password:<span style="color: red; font-weight: bold;">*</span></label>
					{{form.password2}}
				</div>
<div class="form-row-last">
	<p style="color:red;">{{form.errors}}</p>
					<input type="submit" name="register" class="register" value="Register">
				</div>

			</form>

		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

	<div>

		{% for message in messages %}
		<h3>{{message}}</h3>
		{% endfor %}
	</div>
{% endblock %}
</html>






